doctype html(lang='en')
head
    link(rel='icon', type='image/ico', href='file:///Users/AlexZ/Desktop/site/favicon.png')
    |   
    title What is This
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    |   
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  style.
    body{
    font-size: 12px;
    background: #19A3FF;
    }
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
          |         
          a.navbar-brand(href='file:///Users/AlexZ/Desktop/site/home.html') What Is This?
        |       
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='file:///Users/AlexZ/Desktop/site/home.html') Home
            |           
            li
              a(href='file:///Users/AlexZ/Desktop/site/page2.html') Post
            |           
            li
              a(href='file:///Users/AlexZ/Desktop/site/page3.html') Identify
    |     
    .jumbotron
      center
        h1 What Is This?
    |   
    .jumbotron
      li
        p This website will help you identify anything
      |   
      li
        p Click post to submit a post click idenitfy to help figure out what something is
