title What is This
head
    link(rel='icon', type='image/ico', href='file:///Users/AlexZ/Desktop/site/favicon.png')
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    |   
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  style.
    body{
    font-family: Arial;
    font-size: 12px;
    background: #19A3FF;
    }
    #select{
    text-decoration: underline;
    font-size: 12px;
    }
    #username{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    }
    #Upload{
    font-size: 14px;
    }
    #bu{
    margin-top:18px;
    margin-bottom:18px;
    }
    #post{
    margin-top:10px;
    border:0px;
    }
    #submit {
    width: 320px;
    }
    .jumbotron {
    height: 425px;
    }
body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
        |         
        a.navbar-brand(href='file:///Users/AlexZ/Desktop/site/home.html') What Is This?
      |       
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home
          |           
          li.active
            a(href='/post') Post
          |           
          li
            a(href='/find') Find
  .jumbotron
    center
      h1 Upload
    |   
    .Upload
      center
        form#upload(action='upload', method='post')
          #username
            | Username:
            input(type='text', name='firstname', id='firstname')
          |     
          #bu
            input#fileToUpload(type='file', name='fileToUpload', id='fileToUpload')
          |     
          textarea(rows='4', cols='50')
            | Description
          br
          |     
          #post
            input.btn.btn-default#submit(type='submit', value='Post', name='submit')
            br
