extends layout

block content
    h1 Hello world!
    | &#x9;
    form(name='poster', action='', method='POST')
      input(type='text', name='test')
      input(type='file', name='test_file')
      input(type='submit')